<!-- Navigation -->
<nav class="navbar navbar-expand-xs bg-primary fixed-top text-uppercase" id="mainNav">
  <div class="container">
    <div class="col-10"></div>

    <div class="col-2">
    <button ng-click="logout()" class="navbar-toggler navbar-toggler-right text-uppercase bg-secondary text-white rounded" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Logout
      </button>
    </div>
  </div>
</nav>

<!-- About Section -->
<section class="bg-secondary text-white mb-0" id="about">
  <div class="container" style="
    padding-top: 5%;
    ">
    <h2 class="text-center text-uppercase text-white">Available files in: </h2>
    <h5 class="text-center">{{work_folder}}</h5>
    <hr class="star-light mb-5">
    <div class="row">
      <label for="range">Time: </label>
      <input type="number" ng-model="time" />
      <br>
    </div>
    <div class="row">
      <input style="width: 100%" type="range" name="range" ng-model="time" min="0"  max="{{maxTime}}">
    </div>
    <div class="row">
      <div id="pies" class="col-10"></div>
      <div id="pieData" class="col-2">Data</div>
    </div>
  </div>
</section>

<!-- Portfolio Grid Section -->
<section class="portfolio" id="portfolio">
  <div class="container">
  </div>
</section>
<!-- Footer -->
<div class="copyright py-4 text-center text-white">
  <div class="container">
    <small>Copyright &copy; Your Website 2018</small>
  </div>
</div>
